* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

input {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

.content-padded {
  padding: 10px;
}

.header {
  font-weight: bold;
}

ul.list {
  font-size: 17px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list li:first-child {
  background-image: url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=), url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
  background-position: bottom left, top left;
  background-repeat: repeat-x;
  background-size: 100% 1px;

}

ul.list li {
  position: relative;
  margin: 0;
  padding: 35px 10px 35px 20px;
  background: repeat-x bottom left
    url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
  background-size: 100% 1px;
}

li > div.chevron {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -3px;
  text-align: center;
  height: 5px;
  width: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

li > div.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: silver;
  -webkit-transform: skew(0deg, 18deg);
  -moz-transform: skew(0deg, 18deg);
  -ms-transform: skew(0deg, 18deg);
  -o-transform: skew(0deg, 18deg);
  transform: skew(0deg, 18deg);
}
li > div.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: silver;
  -webkit-transform: skew(0deg, -18deg);
  -moz-transform: skew(0deg, -18deg);
  -ms-transform: skew(0deg, -18deg);
  -o-transform: skew(0deg, -18deg);
  transform: skew(0deg, -18deg);
}
